.container {
  width: 400px;
  height: 400px;
  background-color: antiquewhite;
  border: solid;
  display: flex;
}
.row {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.grid {
  border: solid;
  border-width: 0.2px;
  height: auto;
  width: auto;
  flex-grow: 1;
}

.button {
  background-color: darkgray;
}

.dark {
  background-color: darkolivegreen;
}
